@media (max-width: 900px)
{
    .blogs-main-new
    {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container
    {
        grid-row: 2;
    }
    .blogs-news-info-container
    {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container
    {
        max-width: 45%;
    }
    .contact-main-container .contact-left, .contact-right
    {
        max-width: 95%;
    }
}
@media (max-width: 600px)
{
    .blogs-posts-container .post-container
    {
        max-width: 95%;
    }
    .contact-main-container
    {   
        width: 100%;
        padding-bottom: 20px;
    }
    .contact-main-container div
    {
        width: 260px;
        height: 158px;
        margin-top: 45px;
    }
}
@media (max-width: 450px)
{       

        header .header-icons-container
        {
            width: auto;
        }
        nav
        {
            width: 300px;
        }
        header .header-icons-container .icons
        {
            width: 100px;
            display:flex;
            justify-items: center;
            justify-content: space-between;
            align-items: center;
            justify-self: start;

        }
        nav .nav-logo-container
        {
            margin-left:inherit;
        }
        .home-main
        {   
            height: 620px;
        }
        .home-main .home-main-text
        {
            font-size: 30px;
            height: 360px;
            width: 200px;
            letter-spacing: 7px;
        }
        .home-main section
        {
            margin: 20px;
            width: 200px;
        }
}